html, body {
  width: 100vw;
}

.field {
  margin-bottom: 1rem;
}

.field label, .field input::placeholder {
  text-transform: capitalize;
}

.person {
  margin-bottom: 1rem;
}

.person .fullname {
  font-size: 1.1rem;
}
